#header {
  -moz-animation: header 1s 1s forwards;
  -webkit-animation: header 1s 1s forwards;
  -ms-animation: header 1s 1s forwards;
  animation: header 1s 1s forwards;
}

#header nav li:nth-child(1) {
  -moz-animation-delay: 1.25s;
  -webkit-animation-delay: 1.25s;
  -ms-animation-delay: 1.25s;
  animation-delay: 1.25s;
}

#header nav li:nth-child(2) {
  -moz-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

#header nav li:nth-child(3) {
  -moz-animation-delay: 1.75s;
  -webkit-animation-delay: 1.75s;
  -ms-animation-delay: 1.75s;
  animation-delay: 1.75s;
}

#header nav li:nth-child(4) {
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -ms-animation-delay: 2s;
  animation-delay: 2s;
}

#header nav li:nth-child(5) {
  -moz-animation-delay: 2.25s;
  -webkit-animation-delay: 2.25s;
  -ms-animation-delay: 2.25s;
  animation-delay: 2.25s;
}

#header nav li:nth-child(6) {
  -moz-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

#header nav li:nth-child(7) {
  -moz-animation-delay: 2.75s;
  -webkit-animation-delay: 2.75s;
  -ms-animation-delay: 2.75s;
  animation-delay: 2.75s;
}

#header nav li:nth-child(8) {
  -moz-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
}

#header nav li:nth-child(9) {
  -moz-animation-delay: 3.25s;
  -webkit-animation-delay: 3.25s;
  -ms-animation-delay: 3.25s;
  animation-delay: 3.25s;
}

#header nav li:nth-child(10) {
  -moz-animation-delay: 3.5s;
  -webkit-animation-delay: 3.5s;
  -ms-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

#footer {
  line-height: 2em;
}

.copyright {
  font-size: 90%;
}
